p, h1, h2, h3, h4, h5, h6, li, span, a {
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

/*********************intro page********************/
.index_body {
	background-color: #fbf6f7;
}

.index_img {
	width: 50%;
	height: 50%;
}

.pos_center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.up_case {
	text-transform: uppercase;
}

.text_align {
	text-align: center;
}

.name_size {
	font-size: 40px;
}
.last_name {
	text-transform: bold;
}

.school_size {
	font-size: 20px;
}

.entry_button a:hover{
	text-decoration: none;
}

.grad_class {
	font-size: 8px;
	margin-top: -12px;
}



/*********************main content*********************/

.all_content {
	height: 100%;
}

/*****about*****/

/*about me*/
#about, #resume {
  margin-top: 45px;
  margin-left: 15%;
}

.about_me_row p {
	margin-top: 10px;
}

/*skills*/
.progress_bar {
	margin-left: -40px;
	width: 40%;
}

.skill_name {
	margin-left:5px;
}

#timeline_button {
	margin-top: 20px;
}
/*industry  && community*/

#industry_section, #community_section {
	margin-top: 5%;
}

#industry_section img {
	width: 70%;
	height: 70%;
}

.industry_logo {
	text-align: center;
}

.industry_title {
	font-weight: bold;
}

#community_section img {
	width: 70%;
	height: 70%;
}

.community_content, .industry_content {
	margin-top: 11%;
}


/*deeper level*/


/*****left side nav*****/
#my_name {
  	margin-top: 50px;
  	text-align: center;
	color: #000;
	margin-left: -10%;
}

#my_name h1 {
	font-size: 50px;
	font-weight: bolder;
}

#copyright {
	color: #fff;
	opacity: 0.2;
	bottom: 0;
	position: absolute;
}
.foot_sideNav {
	text-align: center;
}

/*#last_name {
	margin-left: -25%;
}*/

#my_name:hover {
	text-decoration: none;
}

.leftSideNav {
  background-color: #E53935;
}

#sideNavList {
  	text-align: center;
  	margin-top: 30%;
	margin-left: -30%;
}

#sideNavList a {
  text-decoration: none;
  color: #fff;
}

#sideNavList li {
	margin-top: 10px;
}

#socialMedia {
	text-align: center;
}

.main_img{
	width: 15%;
	height: 15%;
}

#socialMedia li {
	display: inline;
	margin-left: -40%;

}


i {
	text-align: center;
	margin-left: -30%;
}

/*****right side nav*****/
md-sidenav {
	max-width: 50%;
	min-width: 50%;
}
/*
.program_timeline {
	margin-right: -400px;
}

.close_timeline {
	margin-right: -400px;
}*/

.timeline_title_section {
	font-size: 50px;
}

.cd-date {
	margin: 15px;
}
