<!doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
  		<meta content="IE=edge" http-equiv="X-UA-Compatible">
  		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7" />
  		<meta name="description" content="Welcome to Richard Wu's Official Website">
      <title>Richard Wu Porfolio </title>
      <!-- favicon -->
      <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">

      <!-- bootstrap -->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <!-- fonts -->
      <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

      <!-- icons -->
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

      <!-- angular material CSS -->
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">

      <!-- angularJS -->
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">

      <!-- angular material JS-->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

      <!-- internal css -->
      <link rel="stylesheet" href="css/style.css">

      <!-- internal js -->
      <script src="js/richiewu.js"></script>

      <!-- angular material modules -->
      <script src="js/modules/sidenav.js"></script>


      <!-- timeline lib -->
      <link rel="stylesheet" href="css/lib/style.css"> <!-- Resource style -->
      <script src="js/lib/modernizr.js"></script> <!-- Modernizr -->

    </head>

    <body ng-app="richiewu">
      <div ng-controller="AppCtrl" layout="column" style="height:100%;">
        <section layout="row" flex>
          <!-- sidenav -->
          <md-sidenav class="leftSideNav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <a id="my_name" href="index.html"><h1> Richard <br> <span id="last_name"> Wu </span> </h1></a>
            <!-- <i class="fa fa-smile-o fa-5x"></i> -->
            <ul id="sideNavList">
              <li><md-button md-no-ink class="md-primary"><a href="#about">About Me</a></md-button></li>
              <li><md-button md-no-ink class="md-primary"><a href="#resume">Resume</a></md-button></li>
              <li><md-button md-no-ink class="md-primary"><a href="#about">Products Blog</a></md-button></li>
            </ul>

            <ul id="socialMedia">
            </ul>

          </md-sidenav>

          <!-- main content -->
          <md-content class="mainContent" flex layout-padding>
            <div layout="column" layout-fill layout-align="top center">
              <section id="about">
                <!-- about me -->
                <div id="about_me_section">
                  <h1 class="md-display-3"> About Me </h1>
                    <div class="about_me_row row">
                      <div class="col-md-9">
                        <p id="about_paragraph">
                          Hi, welcome to my portfolio! I am an electrical engineering student with a very diverse set of interests and experiences.
                          I have become passionate about the impact that technology has been making in the world around us. The past few years almost seem like the Renaissance period.
                          I want to join this movement and create an impact in my areas of interest. I am seeking an internship in the Tech Sector! <br/> <br/>
                          Eventually, I want to work as a product manager, but I think to be successful at that, I need to get experience as a Software Engineer first. Thus, that's role I am currently pursuing!
                        </p>
                      </div>
                    </div>
                </div>
                <!-- skills -->
                <div id="skills_section" ng-controller="skillsCtrl">
                  <h1 class="md-display-1"> In the Stack </h1>
                  <h3> Web Development </h3>
                  <div class="skills_bar" ng-repeat="skill in skills">
                    <div class="skills_row row">
                      <div class="skill_name col-md-4">
                        <p>{{skill.skillName}}</p>
                      </div>
                      <div class="progress_bar col-md-8">
                        <div class="progress">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.skillLevel}}%">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <h3> Languages </h3>
                  <div class="language_bar" ng-repeat="language in languages">
                    <div class="skills_row row">
                      <div class="skill_name col-md-4">
                        <p>{{language.skillName}}</p>
                      </div>
                      <div class="progress_bar col-md-8">
                        <div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{language.skillLevel}}%">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="timeline_button">
                    <md-button ng-click="toggleRight()"
                      class="md-raised md-primary">
                      &nbsp My Programming Timeline &nbsp
                    </md-button>
                  </div>
                </div>

                <!-- In the Industry -->
                <div id="industry_section">
                  <h1 class="md-display-1"> In the Industry </h1>
                  <p> My industry experience is quite diverse, even in terms of the roles I played. The last 2 internships have been within the Oil and Gas Industry. <br/> After much reflection, the the industry provides a high
                    level of excitement for me so I am aspiring to move forward in that direction! </p>

                  <div class="industry_logo row">
                      <div class="col-md-4">
                        <div class="panel panel-default">
                          <div class="panel-heading"><p class="industry_title">Electrical Engineering Intern</p></div>
                            <div class="panel-body">
                              <a href="http://www.nexencnoocltd.com/" target="_blank"><img src="img/nexen_logo.png"></a>
                            </div>
                            <!-- <div class="panel-footer"><p>January - August 2015</p></div> -->
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="panel panel-default">
                          <div class="panel-heading"><p class="industry_title">Electrical Project Management Intern</p></div>
                            <div class="panel-body">
                              <a href="http://www.pcl.com/Pages/default.aspx" target="_blank"><img src="img/pcl_logo.png"></a>
                            </div>
                            <!-- <div class="panel-footer"><p>May - August 2014</p></div> -->
                        </div>
                      </div>
                    </div>
                    <div class="industry_logo row">
                      <div class="col-md-4">
                        <div class="panel panel-default">
                          <div class="panel-heading"><p class="industry_title">Front End Developer Intern</p></div>
                            <div class="panel-body">
                              <a href="https://www.crunchbase.com/organization/thoughtbasin" target="_blank"><img src="img/thoughtbasin_logo.png"></a>
                            </div>
                            <!-- <div class="panel-footer"><p>June - September 2013</p></div> -->
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="panel panel-default">
                          <div class="panel-heading"><p class="industry_title">Electrical Engineering Research Assistant</p></div>
                            <div class="panel-body">
                              <a href="http://www.mcgill.ca/" target="_blank"><img src="img/mcgill_logo.png"></a>
                              <!-- <div class="panel-footer"><p>April - July 2013</p></div> -->
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
                <!-- In the Community -->
                <div id="community_section">
                  <h1 class="md-display-1"> In the Community </h1>
                  <p> I am a huge believer in community. At school I take part in many initiatives that help shape and build the community.The opportunity able to make an  <br/> impact or a positive change within a community thrills me. The following are clubs and organizations that I've had the pleasure of being a part of! </p>
                  <div class="industry_logo row">
                    <div class="col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-heading"><p class="industry_title">Co-President</p></div>
                          <div class="panel-body">
                            <a href="http://nobenational.org/mcgill/" target="_blank"><img src="img/nobe_logo.png"></a>
                          </div>
                        <div class="panel-footer"><p>NOBE National is the National Chapter of the National Organization for Business and Engineering (NOBE), a national society uniting business,
                          management and engineering organizations from universities coast to coast</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-heading"><p class="industry_title">Founder & President</p></div>
                          <div class="panel-body">
                            <a href="http://juniorcouncil.mcgilleus.ca/?page_id=189" target="_blank"><img src="img/jc_logo.png"></a>
                          </div>
                        <div class="panel-footer"><p>Junior Council is a council catered to the first and second year engineering students at McGill. It creates a strong community
                          for the students to network and get further involved in McGill Engineering through events</div>
                      </div>
                    </div>
                  </div>
                  <div class="industry_logo row">
                    <div class="col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-heading"><p class="industry_title">Web Developer</p></div>
                          <div class="panel-body">
                            <a href="http://mindmcgill.org/" target="_blank"><img src="img/mindmcgill_logo.jpg"></a>
                          </div>
                        <div class="panel-footer"><p>TheMindProject is a student-run society at McGill with the goal of raising scholarship funds for students with neurological and mental health disorders </p></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-heading"><p class="industry_title">Store Manager</p></div>
                          <div class="panel-body">
                            <a href="http://frostbite.mcgilleus.ca/" target="_blank"><img src="img/frostbite_logo.jpg"></a>
                          </div>
                        <div class="panel-footer"><p>Frostbite is an engineering student run ice cream store at McGill University. Key to providing the idea driven engineers with the brain foods that they need to thrive </p></div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- On a Deeper Level -->
                <div id="deeper_section">
                  <h1 class="md-display-1"> In  the Personal Life</h1>
                  <p> I was born in Shanghai, and raised in Toronto. I am currently enrolled in post-secondary education in Montreal. I am definitely an extrovert by nature.</p>
                  <h3> Cooking </h3>
                  <p>Cooking was a life or death skill I developed during these past few years at school. I have to say that I have become quite the chef,
                    <br/> and now I think of cooking as an art rather than just a skill to feed myself. I like or organize potlucks with my friends to see who can bring on the best dish.
                    <br/> My current specialties are Lettuce Chicken Wraps, Steamed Ginger Chicken, and my famous Soy Sauce Wings. Gotta get on the Chicken grind! </p>
                  <h3> Sports </h3>
                  <p>I was the varsity swim team captain in High School, I placed first in many regional races and made finals at provincials one year.
                    <br/> On my down time I love to organize pick up basketball with my buddies. I also love running, in the past few months I've been running about 6 kilometers almost every other day.
                    <br/> I used to do a lot of long boarding, it allowed me to disconnect from the world and just be in my own zone. This definitely took a toll on the knee though. <br/> <br/> Definitely have to bring up the sports teams. My favourite sports team are the <b> New York Knicks </b> and the <b> Toronto Raptors </b>.
                    I am also a recent bandwagon of the <b> Toronto Blue Jays </b>.</p>
                  <h3> Books </h3>
                  <p>When I get the chance, I am always down for a good book. I usually like to read before I go to bed.
                  <br/>I've recently reading more "technical" books like The Lean Start Up. My all time favs would have to be :<b> A Thousand Splendid Suns </b>, <b>When I Stop Talking, You'll Know I'm Dead</b>, and <b> 1984 </b> </p>



                </div>

              </section>

              <!-- resume section -->
              <!-- <section id= "resume">
                <h1 class="md-display-3"> Resume </h1>
              </section> -->

              <section id= "more">
              </section>

            </div>
            <div flex></div>
          </md-content>

          <!-- right side nav -->
          <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <md-toolbar class="md-theme-light">
              <h1 class="program_timeline md-toolbar-tools">Programming Timeline</h1>
            </md-toolbar>

            <!-- programming timeline -->
            <section id="cd-timeline" class="cd-container">

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <img src="img/cd-icon-location.svg" alt="location">
                </div>

                <div class="cd-timeline-content">
                  <h2 class="timeline_title_section">Started Using Angular Material</h2>
                  <p>This site incorporates Angular Material</p>
                  <span class="cd-date">August 2015</span>
                </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                  <img src="img/cd-icon-location.svg" alt="location">
                </div>

                <div class="cd-timeline-content">
                  <h2>Began Building Pennyworth</h2>
                  <p>Pennyworth is a MEAN stack application that allows users to explore local services</p>
                  <span class="cd-date">June 2015</span>
                </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                  <img src="img/cd-icon-location.svg" alt="location">
                </div>

                <div class="cd-timeline-content">
                  <h2>Built Frostbite Website</h2>
                  <p>Frostbite is an Engineering Ice Cream Store at McGill University. This is a static page built using Bootstrap, check it out <a href="frostbite.mcgilleus.ca"  target="_blank">here</a></p>
                  <span class="cd-date">June 2015</span>
                </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <img src="img/cd-icon-location.svg" alt="Location">
                </div>
                <div class="cd-timeline-content">
                  <h2>Started Learning the MEAN Stack</h2>
                  <p>The MEAN Stack is a fully JavaScript application consisting of MongoDB, Express.js, AngularJS, and Node.js</p>
                  <span class="cd-date">May 2015</span>
                </div>
              </div>

               <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                  <img src="img/cd-icon-location.svg" alt="Location">
                </div>

                <div class="cd-timeline-content">
                  <h2>Became Web Developer for MindMcGill</h2>
                  <p>Mind McGill is a student group that raises awareness for mental health</p>
                  <span class="cd-date">Feburary 2015</span>
                </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                  <img src="img/cd-icon-location.svg" alt="Location">
                </div>

                <div class="cd-timeline-content">
                  <h2>Built NXT Autonomous Robot</h2>
                  <p>In a team of 6, built a autonomous robot capable of localizing within a map, navigation to certain coordinates, and droping &amp picking up objects. This was built  fully in Java. Please check out the <a href="https://github.com/yuwu94/ECSE-211/tree/master/DPM"  target="_blank">Github</a> page for more details</p>
                  <span class="cd-date">September to December 2014</span>
                </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <img src="img/cd-icon-location.svg" alt="location">
                </div>

                <div class="cd-timeline-content">
                  <h2>Participated in CodeJam() AI Hackathon</h2>
                  <p>The goal of this hackathon was to implement a face detection algorithm. We didn't fully complete the project, but were able to implement a functional face recognition. This was written in Java. Please check out the <a href="https://github.com/yuwu94/CodeJam2014"  target="_blank">Github</a> page for more details </p>
                  <span class="cd-date">November 2014</span>
                </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                  <img src="img/cd-icon-location.svg" alt="location">
                </div>

                <div class="cd-timeline-content">
                  <h2>Introduced to SQL</h2>
                  <p>Got to work a bit with SQL during the summer internship</p>
                  <span class="cd-date">July 2014</span>
                </div>
              </div>


              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                  <img src="img/cd-icon-location.svg" alt="location">
                </div>

                <div class="cd-timeline-content">
                  <h2>Exposed to Assembly Language</h2>
                  <p>Course taken on low level computing, and completed assignments in C and Assembly</p>
                  <span class="cd-date">February 2014</span>
                </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <img src="img/cd-icon-location.svg" alt="location">
                </div>

                <div class="cd-timeline-content">
                  <h2>Introduced to Data Structures and Algorithms</h2>
                  <p>Course taken on fundamental computer science concepts</p>
                  <span class="cd-date">September 2013</span>
                </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                  <img src="img/cd-icon-location.svg" alt="location">
                </div>

                <div class="cd-timeline-content">
                  <h2>Introduced to C</h2>
                  <p>As a member of a small robotics design team, I took part in programming micocontrollers in C </p>
                  <span class="cd-date">October 2013</span>
                </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                  <img src="img/cd-icon-location.svg" alt="location">
                </div>

                <div class="cd-timeline-content">
                  <h2>Introduced to Web Development</h2>
                  <p>Started learning HTML, CSS, JavaScript, and getting exposure to Bootstrap and other frameworks. Then immediately after joined a start-up as a Front End Developer</p>
                  <span class="cd-date">May 2013</span>
                </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <img src="img/cd-icon-location.svg" alt="location">
                </div>

                <div class="cd-timeline-content">
                  <h2>Winner of Arduino Design Competition</h2>
                  <p>Entered in a team of 4 in a mini arduino design competition and placed first.</p>
                  <span class="cd-date">March 2013</span>
                </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                  <img src="img/cd-icon-location.svg" alt="location">
                </div>

                <div class="cd-timeline-content">
                  <h2>First "Hello World" Written</h2>
                  <p>Course taken during freshmen year of University on introductory Java programming. This was my first exposure to programming</p>
                  <span class="cd-date">January 2013</span>
                </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                  <img src="img/cd-icon-location.svg" alt="location">
                </div>

                <div class="cd-timeline-content">
                  <h2>First time using the Internet</h2>
                  <span class="cd-date">2003</span>
                </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <img src="img/cd-icon-location.svg" alt="location">
                </div>

                <div class="cd-timeline-content">
                  <h2>Birth</h2>
                  <span class="cd-date">1994</span>
                </div>
              </div>
            </section>

            <md-content ng-controller="RightCtrl" layout-padding>
              <md-button ng-click="close()" class="close_timeline md-primary">
                Close Timeline
              </md-button>
            </md-content>
          </md-sidenav>
        </section>
      </div>

      <!-- timeline script -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="js/lib/main.js"></script> <!-- Resource jQuery -->
    </body>
</html>
