<htmL>
    <head>

      <!-- bootstrap -->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <!-- angular material -->
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">

      <!-- angularJS -->
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

      <!-- internal css -->
      <link rel="stylesheet" href="css/style.css">

      <!-- internal js -->
      <script src="js/richiewu.js"></script>

      <!-- angular material modules -->
      <script src="js/modules/sidenav.js"></script>

      <title>Richard Wu Porfolio </title>

      <!-- favicon -->
      <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">

    </head>

    <body ng-app="richiewu">
      <div ng-controller="AppCtrl" layout="column" style="height:100%;">
        <section layout="row" flex>
          <!-- sidenav -->
          <md-sidenav class="leftSideNav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <h1 id="my_name"> Richard <br> Wu </h1>

            <ul id="sideNavList">
              <li><a href="#"> About Me </a></li>
              <li><a href="#"> Resume </a></li>
              <li><a href="#"> Contact </a></li>
              <li><a href="#"> More? </a></li>
            </ul>

            <ul id="socialMedia">
            </ul>

          </md-sidenav>

          <!-- main content -->
          <md-content class="mainContent" flex layout-padding>
            <div layout="column" layout-fill layout-align="top center">
              <section id="about">

                <h1 class="md-display-3"> About Me </h1>


                <h1 class="md-display-1"> Skills </h1>
                <div>
                  <md-button ng-click="toggleRight()"
                    class="md-raised md-primary">
                    &nbsp Programming Timeline &nbsp
                  </md-button>
                </div>

                <h1 class="md-display-1"> In the Industry </h1>
                <h1 class="md-display-1"> In the Community </h1>
                <h1 class="md-display-1"> On a Deeper Level </h1>
              </section>

            </div>
            <div flex></div>
          </md-content>

          <!-- right side nav -->
          <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <md-toolbar class="md-theme-light">
              <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl" layout-padding>
              <form>
                <md-input-container>
                  <label for="testInput">Test input</label>
                  <input type="text" id="testInput"
                         ng-model="data" md-sidenav-focus>
                </md-input-container>
              </form>
              <md-button ng-click="close()" class="md-primary">
                Close Sidenav Right
              </md-button>
            </md-content>
          </md-sidenav>

        </section>
      </div>

    </body>
</html>
